<h1>Add courses</h1>

<form action="/add" method=""POST>
    <div class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
    </div>
</form>